ingest-workflow/orchestrator-workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "type": "Foreach",
                "foreach": "@parameters('sharepoint_category_folders')",
                "actions": {
                    "Ingest_New_or_Update_Stale_Files": {
                        "type": "Workflow",
                        "inputs": {
                            "host": {
                                "workflow": {
                                    "id": "sharepoint-ingest"
                                }
                            },
                            "body": {
                                "folder": "@body('Parse_JSON')?['folder']",
                                "category": "@body('Parse_JSON')?['category']"
                            },
                            "retryPolicy": {
                                "type": "none"
                            }
                        },
                        "runAfter": {
                            "Remove_Stale_Files_from_Blob": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@items('For_each')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "folder": {
                                        "type": "string"
                                    },
                                    "category": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "Remove_Stale_Files_from_Blob": {
                        "type": "Workflow",
                        "inputs": {
                            "host": {
                                "workflow": {
                                    "id": "sharepoint-removal"
                                }
                            },
                            "body": {
                                "documentFolder": "@concat(parameters('sharepoint_document_topfolder'),'/',body('Parse_JSON')?['folder'])",
                                "category": "@body('Parse_JSON')?['category']"
                            },
                            "retryPolicy": {
                                "type": "none"
                            }
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http"
            }
        }
    },
    "kind": "Stateful"
}